python-dotenv
pydantic~=2.7.3
pydantic-settings~=2.2.1
pandas
fastapi
fastapi-cors
uvicorn
python-multipart
azure-storage-blob
opencv-python==4.11.0.86
itsdangerous
fastapi-mail
mysql-connector-python
albumentations==1.4.21
timm
